{% extends "with-sidebar.html" %}

{% block head %}
<link rel="stylesheet" href="/static/font-awesome-4-dist/css/font-awesome.min.css">
<link rel="stylesheet" href="/static/codemirror-dist/lib/codemirror.css">
<script src="/static/codemirror-dist/lib/codemirror.js"></script>
<script src="/static/codemirror-dist/addon/mode/simple.js"></script>

<link rel="stylesheet" href="/static/edit.css">
<script src="/static/edit.js"></script>
{% endblock %}

{% block left %}

You are editing
<span class="nav" id="path">
  {%- for name, link in path -%}
  <span class="sep">/</span><!-- no space
  --><a href="{{ link }}" target="_blank">{{ name }}</a>
  {%- endfor -%}
</span>

{% if focus %}
<p>
  <span class="nav">
    <a id="hl" href="#highlighted">(Jump to highlighted paragraph)</a>
  </span>
</p>
{% endif %}

{% endblock %}

{% block right %}
<div class="toolbar">
  <span class="visually-hidden">[[ Toolbar starts ]]</span>
  <!-- Add -->
  <button type="button" title="Add new block" id="btn-add">
    <i class="fa fa-fw fa-plus">
      <span class="visually-hidden">add</span>
    </i>
  </button>
  <!-- Up -->
  <button type="button" title="Move block up" id="btn-up" disabled>
    <i class="fa fa-fw fa-arrow-up">
      <span class="visually-hidden">up</span>
    </i>
  </button>
  <!-- Down -->
  <button type="button" title="Move block down" id="btn-down" disabled>
    <i class="fa fa-fw fa-arrow-down">
      <span class="visually-hidden">down</span>
    </i>
  </button>
  <!-- Delete -->
  <button type="button" title="Delete block" id="btn-delete" disabled>
    <i class="fa fa-fw fa-trash">
      <span class="visually-hidden">delete</span>
    </i>
  </button>
  <!-- to the right -->
  <span class="right-floating">
    <button form="form" type="submit" name="button" value="preview" class="highlight">Preview</button>
    <button form="form" type="submit" name="button" value="submit">Submit</button>
  </span>
  <!-- -->
  <span class="visually-hidden">[[ Toolbar ends ]]</span>
</div>

<!-- accessibility -->
<p class="visually-hidden" id="main-content-anchor">&nbsp;</p>

{% if focus %}
<span class="visually-hidden nav">
  <a class="hl" href="#highlighted">
    A paragraph is highlighted. You can try jumping to it.
  </a>
</span>
{% endif %}

<div class="content">
  <div class="has-right-margin">
    <form id="form" action="{{ url_for('edit') }}" method="POST">
      <!-- hidden field for writer lock -->
      <input type="hidden" name="content_lock" value="{{ content_lock or '' }}">

      <!-- metadata of this article -->
      <div class="metadata-container">
        <label for="title">Title</label>
        <input type="text" id="title" name="title" value="{{ article_title }}">
      </div>

      <div class="metadata-container">
        <label for="slug">Page ID</label>
        <input type="hidden" name="old_slug" value="{{ slug }}">
        <input type="text" id="slug" name="new_slug" value="{{ slug }}">
      </div>

      <div class="metadata-container">
        <label for="title">Unlisted</label>
        <div>
          <input type="checkbox" name="unlisted" value="1"
                 {% if unlisted %} checked="1" {% endif %}>
        </div>
      </div>

      <!-- article content -->
      <div id="textboxes">
        {% for content, pid in content_pair_iter %}
        <div class="textbox-container">
          {%- if pid == focus -%}
          <span class="nav">Highlighted paragraph:</span>
          {%- endif -%}
          <div class="scroll-anchor"
               {% if pid == focus %}
               id="highlighted"
               {% endif %}>
          </div>
          <textarea name="text" class="textarea">{{ content }}</textarea>
          <div class="textarea visually-hidden" aria-hidden="true"></div>
        </div>
        {% endfor %}
      </div>

      <!-- actions -->
      <button type="submit" name="button" value="preview" class="highlight">
        <i class="fa fa-fw fa-eye"></i>
        Preview
      </button>
      <button type="submit" name="button" value="submit" class="regular">
        Submit
      </button>
    </form>

  </div>

</div>
{% endblock %}
